---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=91f5d6a201de58e0c0a0d858573dddf0&format=json&limit=50&method=user.getRecentTracks&page=1&user=alexistoulotte
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"recenttracks":{"track":[{"artist":{"mbid":"ace06a49-c395-40f6-acaf-3964a8e06431","#text":"Argy"},"streamable":"0","image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/bcbd4714c923a3a0462f93dd0d1cc42b.jpg"},{"size":"medium","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/64s\/bcbd4714c923a3a0462f93dd0d1cc42b.jpg"},{"size":"large","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/174s\/bcbd4714c923a3a0462f93dd0d1cc42b.jpg"},{"size":"extralarge","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/bcbd4714c923a3a0462f93dd0d1cc42b.jpg"}],"mbid":"","album":{"mbid":"","#text":"Tataki"},"name":"Tataki","url":"https:\/\/www.last.fm\/music\/Argy\/_\/Tataki","date":{"uts":"1668549331","#text":"15
        Nov 2022, 21:55"}},{"artist":{"mbid":"ace06a49-c395-40f6-acaf-3964a8e06431","#text":"Argy"},"streamable":"0","image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/bcbd4714c923a3a0462f93dd0d1cc42b.jpg"},{"size":"medium","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/64s\/bcbd4714c923a3a0462f93dd0d1cc42b.jpg"},{"size":"large","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/174s\/bcbd4714c923a3a0462f93dd0d1cc42b.jpg"},{"size":"ex[...]
