---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=91f5d6a201de58e0c0a0d858573dddf0&format=json&limit=50&method=user.getRecentTracks&page=1&user=alexistoulotte
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"recenttracks":{"track":[{"artist":{"mbid":"634245f7-9cd6-46c1-a24a-9d9b1f3183ef","#text":"Highjacks"},"streamable":"0","image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/757f4faf2c5bc9796d1331ef1497cdd0.jpg"},{"size":"medium","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/64s\/757f4faf2c5bc9796d1331ef1497cdd0.jpg"},{"size":"large","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/174s\/757f4faf2c5bc9796d1331ef1497cdd0.jpg"},{"size":"extralarge","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/757f4faf2c5bc9796d1331ef1497cdd0.jpg"}],"mbid":"","album":{"mbid":"","#text":"Void"},"name":"Carbon","url":"https:\/\/www.last.fm\/music\/Highjacks\/_\/Carbon","date":{"uts":"1673624867","#text":"13
        Jan 2023, 15:47"}},{"artist":{"mbid":"","#text":"Draso"},"streamable":"0","image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/2a96cbd8b46e442fc41c2b86b821562f.png"},{"size":"medium","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/64s\/2a96cbd8b46e442fc41c2b86b821562f.png"},{"size":"large","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/174s\/2a96cbd8b46e442fc41c2b86b821562f.png"},{"size":"extralarge","#text":"https:\/\/lastfm[...]
