---
http_interactions:
- request:
    method: get
    uri: https://ws.audioscrobbler.com/2.0?api_key=91f5d6a201de58e0c0a0d858573dddf0&format=json&limit=50&method=user.getTopTracks&page=1&user=alexistoulotte
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"toptracks":{"track":[{"streamable":{"fulltrack":"0","#text":"0"},"mbid":"1c1dde71-afb5-3fd0-bc06-24a83a15405a","name":"Racing
        Green","image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/2a96cbd8b46e442fc41c2b86b821562f.png"},{"size":"medium","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/64s\/2a96cbd8b46e442fc41c2b86b821562f.png"},{"size":"large","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/174s\/2a96cbd8b46e442fc41c2b86b821562f.png"},{"size":"extralarge","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/300x300\/2a96cbd8b46e442fc41c2b86b821562f.png"}],"artist":{"url":"https:\/\/www.last.fm\/music\/High+Contrast","name":"High
        Contrast","mbid":"889b69e3-7b18-4889-b953-9f2931597204"},"url":"https:\/\/www.last.fm\/music\/High+Contrast\/_\/Racing+Green","duration":"263","@attr":{"rank":"1"},"playcount":"127"},{"streamable":{"fulltrack":"0","#text":"0"},"mbid":"0dae8936-97db-4909-945a-a81e11e939fe","name":"X
        Ray","image":[{"size":"small","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/34s\/2a96cbd8b46e442fc41c2b86b821562f.png"},{"size":"medium","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/64s\/2a96cbd8b46e442fc41c2b86b821562f.png"},{"size":"large","#text":"https:\/\/lastfm.freetls.fastly.net\/i\/u\/174s\/2a96cbd8b46e442fc41c2b86b821562f.png"},{"size":"extralarge","#text":"htt[...]
